*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.caption{
    font-size: 20px;
    opacity: 0; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    text-align: center;
}
div.col-sm:hover{
    display: inline;
    border-style: solid;
    border-width: 5px;
    border-color: blue purple green pink;
}
div.col-sm:hover div.caption{
    opacity: 1;
}

img{
    width: 100%;
    height: 100%;
}

div.col-sm{
    padding: 6px;
}

.jumbotron{
    text-align: center;
}
