*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jumbotron{
    text-align: center;
}
/*image gallery */
div.caption{
    font-size: 20px;
    opacity: 0; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    text-align: center;
}
div.col-sm:hover{
    display: inline;
    border-style: solid;
    border-width: 5px;
    border-color: blue purple green pink;
}
div.col-sm:hover a div.caption{
    opacity: 1;
}

img{
    width: 100%;
    height: 100%;
}

div.col-sm{
    padding: 6px;
}

/* carousel */
.carousel{
    display: none; /*hide by default*/
    background: rgba(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    width: 100%;
    height: 100%;
    /*https://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen*/
    left: 0;
    top: 0;
    z-index: 10;
}
/*center image*/
.carousel div{
    margin: auto;
    width: 50%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel div img{
    width: 500px;
    height: auto;
}
#prev, #next{
    position: absolute;
    /*center*/ 
    top: 50%;
    /*text*/
    color: greenyellow;
    font-weight: bold;
    font-size: 35px;
}
#close, #next{
    position: absolute;
    /*move to right*/
    right: 0;
    font-weight: bold;
    color: greenyellow;
    font-size: 35px;
}
